<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Shop Fashion, Beauty & Lifestyle Online | YesStyle</title>
    <link rel="icon" href="https://ddvql06zg3s2o.cloudfront.net/Assets/res/p/2906/imgs/favicon/favicon-32x32.png" sizes="16x16">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="/css/addtobag.css">


</head>
<body>
    <header class="main-header">
        <div class="headerBox">
            <div class="upperHalfInNav">
                <div class="upperHalfItems">
                    <div class="firDivUpperHalf">
                        <button class="btn-icons">
                            <img class="smallIcons" src="https://img.icons8.com/color/2x/india-circular.png
                            ">
                        </button>
                        <button class="btn-icons">
                            <img class="smallIcons" src="https://img.icons8.com/ios-glyphs/2x/help.png">
                        </button>
                        <button class="btn-icons">
                            <img class="smallIcons" src="https://img.icons8.com/ios/2x/search.png
                            ">
                        </button>
                    </div>

                    <img id="headerMainLogo" src="https://ddvql06zg3s2o.cloudfront.net/Assets/res/p/2906/imgs/yesstyle_logo.svg" alt="">

                    <div class="secDivUpperHalf">
                        <button class="btn-icons">
                            <img class="smallIcons" src="https://img.icons8.com/pastel-glyph/2x/person-male--v3.png
                            ">
                        </button>
                        <button class="btn-icons">
                            <img class="smallIcons" src="https://img.icons8.com/ios/2x/like.png">
                        </button>
                        <button id="btnAddToCart" class="btn-icons" onclick=movetocart()>
                            <img class="smallIcons" src="https://img.icons8.com/ios-glyphs/2x/shopping-bag.png
                            ">
                        </button>
                    </div>
                </div>
            </div>
            <div class="lowerHalfInNav">
                <div class="lowerHalfItems">
                    <a class="pagesRedirector" href="/products/index">NEW IN</a>
                      <a class="pagesRedirector" href="/products?gender=Women">WOMEN</a>
                      <a class="pagesRedirector">BEAUTY</a>
                      <a class="pagesRedirector" href="/products?gender=Men">MEN</a>
                      <a class="pagesRedirector">LIFESTYLE</a>
                      <!-- <p id="saleRedirector" class="pagesRedirector" >SALE</p> -->
                      <a href="/products/index">SALE</a>
                      <a class="pagesRedirector" href="/products/blog">BLOG</a>
                  </div>
            </div>
            <hr>
        </div>
    </header>

    <div class="main-cont">
        <div class="back-white firstDiv">
            <button class="back-white text-grey">Free Express Shipping with any INR-500 purchase</button>
            <button class="back-white text-grey">Buy Now Pay Later</button>
            <button class="back-white text-grey">YesStyle's response to COVID-19</button>
        </div>
    </div>

    <div id="mid-cont">
        <div class="pg-head">
            <h1 id="heading"><%= product.name%></h1>
            <div class="more">More from <%= product.brand %></div>
            <div class="head-detail"><%= product.description %></div>
        </div>

        <div class="product-info">
          <% let image = product.images.split("~") %>
          
            <div class="prod-cover" style="background-image: url(<%= image[img] %>);background-repeat: no-repeat;background-size: cover;">
                <div class="cover-head">FLASH SALE</div>
                <div class="imgpointer">
                  <% img =+img %>
                  <a href="/products/description/<%= product._id %>?img=<%= img-1 %>" style="font-size: 30px;align-content: space-between;">&laquo;</a>
      
                  <a href="/products/description/<%= product._id %>?img=<%= img+1 %>" style="font-size: 30px;margin-left: 90%;">&raquo;</a>
                </div>
                

                <div class="show-reviews">
                    <div>
                        <% for(let i=0; i< product.rating; i++) {%>
                            <span class="fa fa-star checked"></span>
                        <%}%>
                    </div>
          <div class="satisfied">100% customer satisfied  <span>|</span>  11 reviews</div></div>
            </div>

            <div class="prod-price">
                <div class="topline">Regular Members earn 1X YS Points
                <span><img src="https://cdn-icons-png.flaticon.com/128/17/17776.png" width="14px" height="14px"></span>
             </div>

           <div id="price"><span>INR - <%= product.price %></span></div>
           <div class="unitPrice">
               <span id="listPrice" style="text-decoration:line-through;">INR - <%= product.price*1.2 %></span>
               <span class="off">20% OFF</span>
               <div class="wrapper">
                   <div class="filler"></div>
               </div>
           </div>

           <div id="box1">
               <span>In-Stock - Usually ships within 24 hours</span>
               <span style="text-align: right;">Size Information</span>
           </div>
           <div class="size">Select size or color <span class="arrow"><img src="https://cdn-icons-png.flaticon.com/512/57/57055.png" width="10px" height="10px"></span></div>

            <button class="addtobg common" onclick="addtobag()" id="add"><span>ADD TO BAG</span></button>
        <span class="iconleft1"><img src="https://cdn-icons-png.flaticon.com/128/4493/4493011.png" width="20px" height="20px"></span></button>
           <button class="save common">SAVE<span class="iconleft2"><img src="https://t3.ftcdn.net/jpg/01/03/98/10/240_F_103981090_XHS2eMXAgijVqSyVuRVEFfjYDVVKrM0F.jpg" width="30px" height="30px"></span></button>

           <div class="detailing">
               <div id="detailingCont">
               <div class="detailing_text">Free Express Shipping to United States with any INR- 500 purchase</div>
               <div><img src="https://cdn-icons-png.flaticon.com/512/32/32213.png" width="10px" height="10px"></div>
               <div class="detailing_text">100% Satisfaction Guaranteed + Customs Fee Refunds</div>
               <!-- <div><img src="https://cdn-icons-png.flaticon.com/512/32/32213.png" width="10px" height="10px"></div>
               <div class="detailing_text">Returns and Exchanges</div>
               <div><img src="https://cdn-icons-png.flaticon.com/512/32/32213.png" width="10px" height="10px"></div>
               <div class="detailing_text">Shopping Notes</div> -->
               <!-- <div><img src="https://cdn-icons-png.flaticon.com/512/271/271207.png" width="10px" height="10px"></div> -->
                </div>
           </div>
           <!-- <ul class="list">
               <li class="item">Want to purchase this product at wholesale prices? <span><a href="https://www.asianbeautywholesale.com/info.html/pid.1093623007">(See details)</a></span></li>
           </ul> -->
    </div>

    <div class="sale-end">
        <div class="wrapper2"></div>
         <div class="boxes com">
           <div><h4 class="txt">End Of Season Sale Up to 50% OFF</h4>
            <p class="txt"><span class="sub ">Sale ends at jan.25.2022</span></p></div>
             <div><span><img src="https://cdn-icons-png.flaticon.com/512/32/32213.png" width="10px" height="10px" ></span></div>
         </div>
         <div class="boxes com">
            <div><h3 class="txt">What's Hot</h3>
                <p><span class="sub2 ">Bestsellers</span></p></div>
                 <div><span><img src="https://cdn-icons-png.flaticon.com/512/32/32213.png" width="10px" height="10px" ></span></div>
         </div>

         <div class="box3 com boxes"><div><h3 class="txt">What's Hot</h3>
            <p><span class="sub2 ">Bestsellers</span></p></div>
             <div><span><img src="https://cdn-icons-png.flaticon.com/512/32/32213.png" width="10px" height="10px" ></span></div></div>

         <div class="box4 com boxes">
             <div id="box4-cont">
            <div><h4 class="txt"><span class="lst">Articles in <span style="color: teal;font-size: 15px;">THE</span></span>&nbsp;<span style="color: rgb(76,175,80); font-size: 15px;">YES</span><span style="color: black; font-size: 15px;">STYLIST</span><ul class="list"><li class="item"><span style="font-size: 15px;">Fashion Menu: 4 Ways to Style Pleated Mini Skirts</span></li></ul></div>


                <div><span><img src="https://cdn-icons-png.flaticon.com/512/32/32213.png" width="10px" height="10px" ></span></h4>
                </div>
            </div>
        </div>
        </div>
        <div id="similarItems">
            <div class="similar"><h3>Similar Items</h3></div>
            <div class="grid1">
              <% for(sim of similar) { %>
                <%let image= sim.images.split("~")%>
                <div>
                    <div class="taghead">
                        <div class="tags tag1">NEW</div>
                        <div class="tags tag2">20% OFF</div>
                    </div>
                    <div class="picCover" style="background-image: url(<%= image[0] %>);background-repeat: no-repeat;background-size: cover;">
                    </div>
                    <div class="data">
                        <span><p class="txts"><%= sim.name %></p></span> 
                    </div>
                    <p class="txts">INR - <%= sim.price %>.00</p>
                </div>
                <% } %>
            </div>

            
        </div>
</body>
</html>
<script >
    let products = JSON.parse(localStorage.getItem("cart_items"))|| [];
function addtobag(product){

  let bagproduct = <%- JSON.stringify(product) %>;
  bagproduct.quantity=1;
  products.push(bagproduct);
  localStorage.setItem('cart_items', JSON.stringify(products));
  alert("added to cart")
}
function movetocart(){
    window.location.href= "/products/cart";
}
</script>